@import "assets/styles/base/_global.css";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import "assets/styles/modules/_navbar.css";
@import "assets/styles/modules/_landing.css";
@import "assets/styles/modules/_description.css";
@import "assets/styles/modules/_booking.css";
@import "assets/styles/modules/_production.css";
@import "assets/styles/modules/_contact.css";
@import "assets/styles/modules/_media-queries.css";

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("fonts/montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-Medium.woff2") format("woff2"),
    url("fonts/montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
