@import "assets/styles/base/_global.css";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import "assets/styles/modules/_navbar.css";
@import "assets/styles/modules/_landing.css";
@import "assets/styles/modules/_description.css";
@import "assets/styles/modules/_booking.css";
@import "assets/styles/modules/_production.css";
@import "assets/styles/modules/_contact.css";
@import "assets/styles/modules/_media-queries.css";

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("fonts/montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-Medium.woff2") format("woff2"),
    url("fonts/montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/*============= MEDIA QUERIES =============*/

/*Devices under 1201px (lg)*/
@media (max-width: 1200px) {
}

/*Devices under 992px (md)*/
@media (max-width: 991px) {
  .caption h1 {
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    padding-bottom: 0.8rem;
  }
  .caption h2 {
    font-size: 2.2rem;
    padding-bottom: 1.7rem;
  }
  .btn-lg {
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
  }
}

/*Devices under 768px (sm)*/
@media (max-width: 767px) {
  .caption h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    padding-bottom: 0.8rem;
  }
  img.logo {
    width: 80%;
  }
  .email-form {
    order: 1;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .email-list {
    order: 2;
    margin-top: 0;
    padding-top: 0;
  }
}

/*Devices under 576px (xs)*/
@media (max-width: 575px) {
  .container {
    margin: 0;
    padding: 0;
  }
  .card {
    margin: 0;
  }
  img.logo {
    width: 100%;
  }
  .descrip {
    background-position: left;
  }
  .booking {
    background-position: center;
  }
}

@media (min-width: 767px) {
  /* .map-text {
    visibility: hidden;
  } */
  .country:hover h3 {
    visibility: visible;
  }
  .big-logo {
    max-height: 30vh;
  }
}
