body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: #505962;
  height: 100%;
}
p {
  font-size: 1rem;
  margin-bottom: 0;
}
h2.heading {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}
h3.heading {
  margin-bottom: 0;
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.9rem;
}
.heading-underline {
  width: 10rem;
  height: 0.2rem;
  background-color: rgba(255, 187, 68, 100);
  margin: 0 auto 1rem;
}
.pad {
  padding: 2.5rem 1rem;
}
.card-group {
  margin: 1rem;
}

/*--- Nav Scrolling Offset --*/
.offset:before {
  height: 4rem;
  margin-top: -4rem;
  content: "";
  display: block;
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}
