/*===== BOOKING SECTION =====*/

.booking {
  background: rgb(0, 0, 0) url("../../img/booking/booking-sub-xs.jpg") fixed
    center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  z-index: -1;
}
.booking-dark {
  background-color: rgba(2, 85, 29, 0.3);
  background-attachment: fixed;
  text-align: center;
  z-index: 1000 !important;
  color: white;
}
.maps {
  height: 25vh;
  width: 100%;
  transition: transform 0.4s ease;
}
.maps:hover {
  transform: scale(1.1);
}
.map-col {
  background-image: url(../../img/booking/map-colombia-low.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  justify-content: center;
}
.map-esp {
  background-image: url(../../img/booking/map-spain-low.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  justify-content: center;
}
.map-uk {
  background-image: url(../../img/booking/map-england-low.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  justify-content: center;
}
.map-fra {
  background-image: url(../../img/booking/map-france-low.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  justify-content: center;
}
.map-text {
  margin: 0.1rem;
  padding: 0.1;
  color: lightgray;
  font-size: 1.5rem;
}
.country {
  width: 170px;
  padding: 0;
}
