/*===== BOOKING SECTION =====*/

.booking {
  background-image: url("../../img/booking/booking-xs.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: -1;
}
.booking-dark {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 1000 !important;
  color: white;
}
.maps {
  height: 25vh;
  width: 100%;
  transition: transform 0.4s ease;
}
.maps:hover {
  transform: scale(1.1);
}
.map-col {
  background-image: url(../../img/booking/map-colombia-low.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  justify-content: center;
}
.map-esp {
  background-image: url(../../img/booking/map-spain-low.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  justify-content: center;
}
.map-uk {
  background-image: url(../../img/booking/map-england-low.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  justify-content: center;
}
.map-fra {
  background-image: url(../../img/booking/map-france-low.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  justify-content: center;
}
.map-text {
  margin: 0.1rem;
  padding: 0.1;
  color: lightgray;
  font-size: 1.5rem;
}
.country {
  width: 170px;
  padding: 0;
}
