/*============= LANDING PAGE =============*/

.home-wrap {
  background-color: rgba(0, 0, 0, 0.5);
}
.home-inner {
  background-image: url("../../img/landing/landing-xs.jpg");
  background-size: cover;
  background-attachment: relative;
  background-position: center;
  z-index: -1;
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 20%;
  z-index: 1;
}
.caption h1 {
  color: white;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}
.caption h2 {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 2rem;
}
#slogan {
  font-size: 1.3rem;
  padding: 0 1rem;
  text-transform: capitalize;
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block !important;
}
.main-logo {
  margin-bottom: 1rem;
}
.big-logo {
  justify-content: center;
}
img.logo {
  width: 80%;
}
