/*===== PRODUCTION SECTION =====*/
.production {
  background-color: rgb(102, 163, 22);
  z-index: -1;
}
.fixed-background {
  position: relative;
  width: 100%;
}
/*.light {
  padding: 3rem 2rem 2rem;
  z-index: 1000 !important;
}*/
.production-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3rem 0 2rem 0;
  z-index: 1000 !important;
}
.card {
  background-color: transparent;
  border: 0.1rem solid rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.7);
  /* margin: 0rem 1rem 2rem 1rem; */
  margin: 0;
  /* transition: transform 0.4s ease; */
  margin-bottom: 2rem;
}
/* .card:hover {
  transform: scale(1.1);
} */
.card-record {
  height: 40vh;
  background-image: url(../../img/production/mic-low.jpg);
  background-size: cover;
  background-position: center;
}
.card-event {
  height: 40vh;
  background-image: url(../../img/production/trumpet-low.jpg);
  background-size: cover;
  background-position: center;
}

img .card {
  size: 80%;
}
.card-heading {
  font-size: 2rem;
}
.list-group-item {
  font-size: 1.1rem;
}
